In [21]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('../data/incidents.csv', sep=';')
# df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
cities = pd.read_csv('../data/cities.csv')

cities['lat'] = cities['lat'].astype(int)
cities['lng'] = cities['lng'].astype(int)

cities.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40,-73,18972871,10768.2,shape,False,True,America/New_York,1,11229 11226 11225 11224 11223 11221 11220 1138...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34,-118,12121244,3267.6,shape,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90035 90034 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41,-87,8595181,4576.6,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25,-80,5711945,4945.7,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Dallas,Dallas,TX,Texas,48113,Dallas,32,-96,5668165,1522.2,shape,False,True,America/Chicago,1,75287 75098 75234 75254 75251 75252 75253 7503...,1840019440

In [24]:
df = df[df['latitude'].notna()]
df = df[df['longitude'].notna()]

# Converti i numeri float in interi
df['latitude'] = df['latitude'].astype(int)
df['longitude'] = df['longitude'].astype(int)

In [26]:
df = df.drop_duplicates(subset=['latitude', 'longitude'])

cities = cities.drop_duplicates(subset=['lat', 'lng'])
merged = pd.merge(df, cities, left_on=['latitude', 'longitude'], right_on=['lat', 'lng'], how='left')

In [30]:
merged.keys()

Index(['date', 'state', 'city_or_county', 'address', 'latitude', 'longitude',
       'congressional_district', 'state_house_district',
       'state_senate_district', 'participant_age1', 'participant_age_group1',
       'participant_gender1', 'min_age_participants', 'avg_age_participants',
       'max_age_participants', 'n_participants_child', 'n_participants_teen',
       'n_participants_adult', 'n_males', 'n_females', 'n_killed', 'n_injured',
       'n_arrested', 'n_unharmed', 'n_participants', 'notes',
       'incident_characteristics1', 'incident_characteristics2', 'city',
       'city_ascii', 'state_id', 'state_name', 'county_fips', 'county_name',
       'lat', 'lng', 'population', 'density', 'source', 'military',
       'incorporated', 'timezone', 'ranking', 'zips', 'id'],
      dtype='object')

In [46]:
merged[['city_or_county', 'city_ascii', 'county_name', 'latitude', 'lat' , 'longitude', 'lng']]

    city_or_county    city_ascii county_name  latitude   lat  longitude    lng
0     Indianapolis  Indianapolis      Marion        39  39.0        -86  -86.0
1             Kane     St. Marys         Elk        41  41.0        -78  -78.0
2          Detroit       Detroit       Wayne        42  42.0        -83  -83.0
3       Washington       Waldorf     Charles        38  38.0        -76  -76.0
4       Pittsburgh      Wheeling        Ohio        40  40.0        -80  -80.0
..             ...           ...         ...       ...   ...        ...    ...
946       Skwentna           NaN         NaN        61   NaN       -152    NaN
947       Mobridge      Mobridge    Walworth        45  45.0       -100 -100.0
948    Fort Totten   Fort Totten      Benson        47  47.0        -98  -98.0
949          Kobuk           NaN         NaN        66   NaN       -155    NaN
950         Laguna         Alamo     Socorro        34  34.0       -107 -107.0

[951 rows x 7 columns]

In [43]:
merged[merged['county_name'].isna()]

,date,state,city_or_county,address,latitude,longitude,congressional_district,state_house_district,state_senate_district,participant_age1,...,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
465,2017-03-19,Minnesota,Grand Portage,9403 MN-61,47,-89,8.0,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
518,2016-05-10,Alaska,Selawik,NaN,66,-158,1.0,40.0,NaN,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,2014-07-29,Utah,Millard County,NaN,39,-113,2.0,68.0,24.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,2017-09-08,Alaska,Manokotak,NaN,58,-159,1.0,36.0,NaN,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
628,2030-03-24,Nevada,Nye County,NaN,38,-116,4.0,36.0,19.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,2018-03-29,Kansas,Wichita,NaN,37,97,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,2016-12-18,Alaska,Shishmaref,NaN,66,-165,1.0,39.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,2015-09-04,Alaska,Cantwell,133 Mile Denali Highway,63,-147,1.0,6.0,NaN,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
713,2016-04-06,Alaska,Buckland,NaN,65,-160,1.0,40.0,NaN,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724,2015-08-29,Hawaii,Kailua Kona,73-200 Kupipi St,19,-156,2.0,6.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,2017-01-11,Alaska,Chitina,NaN,61,-143,1.0,39.0,NaN,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
772,2014-09-08,Maine,Oxford (county),NaN,45,-70,2.0,91.0,14.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
795,2014-05-01,Alaska,Tanana,NaN,65,-151,1.0,39.0,NaN,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
812,2015-04-18,Georgia,Tybee Island,Strand Avenue,31,-80,1.0,166.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827,2015-03-19,Washington,Sumas,NaN,49,-122,1.0,42.0,42.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
838,2018-03-08,Alaska,Pilot Station,NaN,61,-163,NaN,NaN,NaN,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
868,2017-06-11,California,Wonder Valley,Pinto Mountain Rd and Mountain Valley Rd,34,-115,8.0,42.0,16.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
872,2016-02-20,Utah,Box Elder (county),Route 30,41,-113,1.0,1.0,17.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873,2017-03-08,Alaska,Kotlik,NaN,63,-164,1.0,38.0,NaN,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
885,2015-11-20,Oregon,Princeton,NaN,42,-118,2.0,60.0,30.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,2018-02-17,Alaska,Fairbanks,NaN,65,-147,NaN,NaN,NaN,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,2017-07-20,Alaska,Kiana,NaN,67,-160,1.0,40.0,NaN,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
900,2018-03-20,Nebraska,Lincoln,NaN,40,96,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,2015-04-13,Wyoming,Washakie (county),NaN,43,-107,1.0,27.0,20.0,58.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
908,2016-08-27,Alaska,Shaktoolik,NaN,64,-160,1.0,39.0,NaN,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
910,2017-12-22,North Carolina,Charlotte,NaN,35,80,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911,2018-03-25,Alaska,Barrow,NaN,70,-155,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
928,2017-11-15,Missouri,St Louis,NaN,38,90,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929,2014-05-02,Alaska,Fairbanks,Steese Highway,65,-146,1.0,2.0,NaN,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
933,2016-05-04,Florida,Marquesas Keys,NaN,24,-82,26.0,120.0,39.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,2017-06-15,Minnesota,Ely,2493 Ely-Buyck Rd,48,-91,8.0,NaN,3.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
946,2014-09-15,Alaska,Skwentna,NaN,61,-152,1.0,7.0,NaN,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
949,2015-03-23,Alaska,Kobuk,NaN,66,-155,1.0,40.0,NaN,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.merge(df, cities, left_on=['latitude', 'longitude'], right_on=['lat', 'lng'], how='left')

In [ ]:
# Rimuovi la sotto-stringa '(county)' o 'County' da ogni entry
df['city_or_county'] = df['city_or_county'].str.replace(r'\(county\)|County', '', regex=True).str.strip()
df['city_or_county']
df[(~df.city_or_county.isin(cities.city)) & (~df.city_or_county.isin(cities.county_name))]['city_or_county'].drop_duplicates()

In [ ]:
df.city_or_county.drop_duplicates()

In [ ]:
df[df['city_or_county'].str.contains('county', case=False, na=False)].city_or_county.drop_duplicates()

In [ ]:
# Dividi le stringhe in parole
words = df['city_or_county'].drop_duplicates().str.split(expand=True).stack()

# Calcola la frequenza di ogni parola
word_frequency = words.value_counts()

word_frequency[word_frequency >= 100]